TRAEFIK_TOML_FILE=./traefik.toml

# use busybox and different restart policy for disables sites or sites without
#DB_IMAGE_x=busybox:1.30.1
#DB_RESTART_POLICY_x=no
#WEB_IMAGE_x=busybox:1.30.1
#WEB_RESTART_POLICY_x=no

# site 1 config
TRAEFIK_WEB_PORT_1=80
SITE_URL_1=traefik.frontend.rule=Host:lamp.site1.nl
BASE_PATH_1=/data/site1
MYSQL_DATABASE_1=lamp_db
MYSQL_USER_1=db_user
MYSQL_PASSWORD_1=blablabla
WEB_IMAGE_1=php:7.3.3-apache
WEB_RESTART_POLICY_1=unless-stopped
DB_IMAGE_1=mysql:8.0
DB_RESTART_POLICY_1=unless-stopped

# site 2 config
TRAEFIK_WEB_PORT_2=80
SITE_URL_2=traefik.frontend.rule=Host:lamp.site2.nl
BASE_PATH_2=/data/site2
MYSQL_DATABASE_2=lamp_db
MYSQL_USER_2=db_user
MYSQL_PASSWORD_2=blablabla
WEB_IMAGE_2=busybox:1.30.1
WEB_RESTART_POLICY_2=no
DB_IMAGE_2=busybox:1.30.1
DB_RESTART_POLICY_2=no

# site 3 config
TRAEFIK_WEB_PORT_3=80
SITE_URL_3=traefik.frontend.rule=Host:lamp.site3.nl
TRAEFIK_WEB_PORT_3=80
BASE_PATH_3=/data/site3
MYSQL_DATABASE_3=lamp_db
MYSQL_USER_3=db_user
MYSQL_PASSWORD_3=blablabla
WEB_IMAGE_3=busybox:1.30.1
WEB_RESTART_POLICY_3=no
DB_IMAGE_3=busybox:1.30.1
DB_RESTART_POLICY_3=no

# site 4 config
SITE_URL_4=traefik.frontend.rule=Host:lamp.site4.nl
TRAEFIK_WEB_PORT_4=80
BASE_PATH_4=/data/site4
MYSQL_DATABASE_4=lamp_db
MYSQL_USER_4=db_user
MYSQL_PASSWORD_4=blablabla
WEB_IMAGE_4=busybox:1.30.1
WEB_RESTART_POLICY_4=no
DB_IMAGE_4=busybox:1.30.1
DB_RESTART_POLICY_4=no

# site 5 config
SITE_URL_5=traefik.frontend.rule=Host:lamp.site5.nl
TRAEFIK_WEB_PORT_5=80
BASE_PATH_5=/data/site5
MYSQL_DATABASE_5=lamp_db
MYSQL_USER_5=db_user
MYSQL_PASSWORD_5=blablabla
WEB_IMAGE_5=busybox:1.30.1
WEB_RESTART_POLICY_5=no
DB_IMAGE_5=busybox:1.30.1
DB_RESTART_POLICY_5=no

